body {
    font-family: Arial;
    margin: 70px;
}

h1 {
    color: darkred;
}

input {
    padding: 8px;
}

input[type="submit"]{
    background-color: darkred;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
